* {
  box-sizing: border-box;
}
html {
  /* force vertical scrollbar no matter the content,
  avoid container center position changes */
  overflow-y: scroll;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding:0;
  margin:0;
}

.l-container {
  border-top: 20px solid #3399cc;
  padding:0 30px;
}
.l-header {
}
.l-body {
  width: 100%;
  display: table;
}
.l-sidebar {
  display: table-cell;
  width: 25%;
  padding: 0 50px 0 0;
}
.l-content {
  display: table-cell;
  width: 75%;
}
.l-search-options {
  border-bottom: 1px solid #CCC;
  display: table;
  padding: 15px 15px 5px 15px;
  width: 100%;
}
.l-search-options--stats {
  display: table-cell;
  width: 50%;
}
.l-search-options--selector {
  display: table-cell;
  width: 50%;
  text-align:right;
}
.l-footer {
}

