html {
  /* force vertical scrollbar no matter the content,
  avoid container center position changes */
  overflow-y: scroll;
}

body {
  padding: 2em 0;
}

.search {
  transition: opacity 200ms;
}

.search--hidden {
  opacity: 0;
}

.search--visible {
}

/* Hits widget */
.hit {
  padding: 1em;
  height: 120px;
}

.hit em {
  font-style: normal;
  background-color: #ffffe5;
}

/* Force widths and heights to avoid vertical size changes.
  So that pagination clicks will not jump */
.hit a {
  height: 100px;
  width: 100px;
  margin-right: 20px
}

.hit img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

#hits {
  margin-top: 20px;
}

#price .ais-header, #price .ais-footer {
  margin-bottom: 45px;
}

.hit h3, .hit h4 {
  margin-top: 0;
}

.facet {
  margin-bottom: 20px;
}

#actors {
  line-height: 3em;
}

#actors img {
  height: 3em;
  margin-right: 0.5em;
  border-radius: 50%;
}
